<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
    <h5 class="card-title">{{user.age}}</h5>
    <p class="card-text">{{user.createdAt}}</p>
    <a href="/users" class="btn btn-primary">Назад</a>
  </div>
</div>
