<br />
<br />
<form action="/register" method="POST">
  <input name="user_name" placeholder="Введите имя">
  <input name="age" type="number" placeholder="Введите возраст">
  <button type="submit" class="btn btn-danger">Отправить</button>
</form>
