$color-cta: Teal;
$color-cta-light: lighten($color-cta, 10%);
$color-cta-dark: darken($color-cta, 10%);

// $color-cta-lightest: lighten($color-cta, 20%);
// $color-cta-darkest: darken($color-cta, 20%);

$color-text: #181818;