/* HOME */

html, body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.home-page-header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: #1e90ff;
}

.home-page-header__title {
  color: #fff;
}

.home-page-header__logout-button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: large;
}

.home-page-main {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1e90ff;
  z-index: -1;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.list {
  list-style: none;
  padding: 0%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.sticker {
  display: inline-block;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  width: 50vw;
}

.sticker__text {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
}

.sticker__delete-button {
  border: none;
  display: flex;
  align-self: flex-end;
  background-color: transparent;
  padding: 0;
}

.home-page-footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: #1e90ff;
}

.home-page-footer__add-button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: x-large;
}

/* REGISTER */

.register-page-main {
  background-color: #1e90ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
  padding-top: 10rem;
  font-size: large;
  width: 100%;
  height: 100%;
  color: #fff;
}

.register-page-button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: large;
}

/* LOGIN */


.login-page-main {
  background-color: #1e90ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
  padding-top: 10rem;
  font-size: large;
  width: 100%;
  height: 100%;
  color: #fff;
}

.login-page-button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: large;
}


/* menu */


.hamburger {
  position: absolute;
  top: 4.3em;
  right: 5%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;
}

.hamburger div {
  width: 2em;
  height: 6px;
  background-color: #fff;
  margin-top: 3px;
  transition: all 0.3s ease-in-out;
}

/**
Nav Styles
**/
.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1e90ff;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}

.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}

nav {
  text-align: left;
  margin-left: 25%;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: larger;
  display: inline-block;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}

nav a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: white;
}

nav a:hover:before {
  height: 100%;
}

/**
Animations
**/
#toggle:checked+.hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}

#toggle:checked+.hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}

#toggle:checked+.hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked+.hamburger+.nav {
  top: 0;
  transform: scale(1);
}


/* PROFILE */

.profile-page-header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0%;
  width: 100%;
  height: 5rem;
  background-color: #1e90ff;
}

.profile-page-header__title {
  color: #fff;
}

.profile-page-main{
  background-color: #1e90ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  width: 100%;
  z-index: -1;
  padding-top: 5rem;
  font-size: large;
  width: 100%;
  height: 100%;
  color: #fff;
}

.profile-page-name, .profile-page-email, .profile-page-password{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  font-size: large;
}

.profile-page__save-button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: large;
}
