/* HOME */

html, body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: #1e90ff;
}

.header__title {
  color: #fff;
}

.header__logout-button {
  background-color: transparent;
  color: #fff;
  border: none;
}

.main {
  top: 0;
  position: absolute;
  width: 100%;
  background-color: #1e90ff;
  z-index: -1;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.list {
  list-style: none;
  padding: 0%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.sticker {
  display: inline-block;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  width: 50vw;
}

.sticker__text {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
}

.sticker__delete-button {
  border: none;
  display: flex;
  align-self: flex-end;
  background-color: transparent;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: #1e90ff;
}

.footer__add-button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: x-large;
}

/* REGISTER */

.body__register {
  background-color: #1e90ff;
  color: #fff;
  width: 100%;
  height: 100%;
}

.header__register {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.register__main {
  background-color: #1e90ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
  padding-top: 10rem;
  font-size: large;
}

.footer__register {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 20rem;
}

.register__button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: large;
  height: 100%;
}

/* LOGIN */

.body__login {
  background-color: #1e90ff;
  color: #fff;
  width: 100%;
  height: 100%;
}

.header__login {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.login__main {
  background-color: #1e90ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
  padding-top: 10rem;
  font-size: large;
}

.footer__login {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 20rem;
}

.login__button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: large;
  height: 100%;
}
