.landing-page-main{
  background-color: #1e90ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
  padding-top: 10rem;
  font-size: large;
  width: 100%;
  height: 100%;
  color: #fff;
}


.landing-page-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
