.Register {
  box-sizing: border-box;
  position: absolute;
  width: 2160px;
  height: 1456px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.h1 {
  position: absolute;
  width: 179px;
  height: 56px;
  left: 125px;
  top: 95px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.image {
  position: absolute;
  width: 341px;
  height: 225px;
  left: 46px;
  top: 194px;
}

.name {
  position: absolute;
  width: 368px;
  height: 50px;
  left: 30px;
  top: 475px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.email {
  position: absolute;
  width: 368px;
  height: 50px;
  left: 30px;
  top: 569px;
}

.password {
  position: absolute;
  width: 368px;
  height: 50px;
  left: 36px;
  top: 663px;
}
