.wrapper {
    display: grid;
    grid-template-columns: 325px;
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas: 'box-1' 'box-2' 'box-3' 'box-4' 'box-5' 'box-6' 'box-7' 'box-8' 'box-9';
    border-color: white;
    border-width: 10px;
    justify-content: center;
    text-align: center;
    row-gap: 10px;
    column-gap: 10px;
}

.home-profile__box-1 {
    grid-area: box-1;
    background-color: rgba(255, 0, 0, 0.5);
    
}

.home-profile__box-2 {
    grid-area: box-2;
    background-color: rgba(0, 47, 255, 0.5);
}

.home-profile__box-3 {
    grid-area: box-3;
    background-color: rgba(238, 255, 0, 0.5);
}

.home-profile__box-4 {
    grid-area: box-4;
    background-color: rgba(255, 187, 0, 0.5);
}

.home-profile__box-5 {
    grid-area: box-5;
    background-color: rgba(0, 47, 255, 0.5);
}

.home-profile__box-6 {
    grid-area: box-6;
    background-color: rgba(255, 0, 0, 0.5);
}

.home-profile__box-7 {
    grid-area: box-7;
    background-color: rgba(255, 0, 0, 0.5);
}

.home-profile__box-8 {
    grid-area: box-8;
    background-color: rgba(119, 0, 255, 0.5);
}

.home-profile__box-9 {
    grid-area: box-9;
    background-color: rgba(238, 255, 0, 0.5);
}

@media (min-width: 680px) and (max-width: 940px) {
    .wrapper {
        grid-template-areas: 'box-1 box-2 box-2' 'box-1 box-3 box-3' 'box-4 box-4 box-6' 'box-5 box-5 box-6' 'box-7 box-8 box-8' 'box-7 box-9 box-9';
        grid-auto-rows: minmax(200px);
        grid-template-columns: 200px 200px 200px;
    }
}

@media (min-width: 940px) {
    .wrapper {
        grid-template-areas: 'box-1 box-2 box-2' 'box-1 box-3 box-3' 'box-4 box-4 box-6' 'box-5 box-5 box-6' 'box-7 box-8 box-8' 'box-7 box-9 box-9';
        grid-auto-rows: minmax(300px);
        grid-template-columns: 314px 314px 314px;
    }
}