html, body {
    height: 100%;
}

.login-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.off {
    display: none;
}
