#header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding: 8px 16px;
    border-bottom: 1px solid #cccccc;
}

#header h1 { font-size: 16px; color: #aaaaaa; }