 * {
     font-family: sans-serif;
 }


 /* generics */

 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 2rem;
 }

 .container--vertical {
     flex-direction: column;
 }

 .container--bordered {
     border: 1px solid grey;
 }

 .container--spacing {
     justify-content: space-between;
 }

 .container--top {
     padding: 1rem;
 }

 .input {
     margin: 0.1rem;
 }

 .input--checkbox {
     width: 20%;
     align-items: center;
 }

 .input--left {
     text-align: left;
     margin: none;
 }

 .feedback {
     font-weight: bold;
 }

 .feedback--success {
     color: green;
 }

 .feedback--warning {
     color: goldenrod;
 }

 .feedback--error {
     color: red;
 }


 /* custom */
 .login, .register, .home, .profile {
     display: block;
     display: grid;
     grid-template-columns: auto;
     grid-auto-rows: minmax(10px, auto);
     grid-template-areas: 'box-1';
     border-color: white;
     border-width: 10px;
     justify-content: center;
     text-align: none;
     row-gap: 10px;
     column-gap: 10px;
 }


 h2 {
     font-family: sans-serif;
     margin: 1em 1em 1em 1em;
     text-align: center;
     color: rgb(82, 81, 81);
     /* border: 3px solid black; */
 }

 .card {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .card__title {
     font-family: sans-serif;
     font-weight: 4 em;
     line-height: 1.2em;
     text-align: center;
     font-weight: 800;
     margin: 30px 0px 30px 0px;
 }

 .card__img {
     width: 129px;
     height: 66px;
     padding-left: 30px;
 }

 .subtitle {
     font-family: sans-serif;
     margin: 1em 1em 1em 1em;
     text-align: center;
     color: rgb(82, 81, 81);
 }

 .form-divider {
     top: 50%;
     content: '';
     display: inline-flexbox;
     left: 0;
     width: 100%;
     height: 2px;
     background: #d0d0d0;
 }

 input {
     width: 90%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
 }

 button {
     background-color: #04AA6D;
     background: linear-gradient(278deg, #61d8d6, #ae76ff);
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 90%;
     border-radius: 24px;
 }

 .button--small {
     background-color: #04AA6D;
     background: linear-gradient(278deg, #73d861, #76d4ff);
     color: white;
     padding: 10px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 40%;
     border-radius: 24px;
 }

 button:hover {
     opacity: 0.5;
 }

 .button--signin {
     background-color: #04AA6D;
     background: linear-gradient(278deg, #61d8d6, #f83030);
     color: white;
     animation: pulse 3000ms 3;
 }

 @keyframes pulse {
     0% {
         box-shadow: #ff69b4 0 0 0 0;
     }
     75% {
         box-shadow :#ff69b400 0 0 0 12px;
     }
 }


 .topnav {
     overflow: hidden;
     background-color: #333;
     position: relative;
 }

 .topnav #myLinks {
     display: none;
 }

 .topnav a {
     color: white;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
     display: block;
 }

 .topnav a.icon {
     background: black;
     display: block;
     position: absolute;
     right: 0;
     top: 0;
 }

 .topnav a:hover {
     background-color: #ddd;
     color: black;
 }

 .active {
     background-color: #04AA6D;
     background: linear-gradient(150deg, #61d8d6, #7696ff);
     background-color: #05db8d;
     color: white;
 }

 .cars_list {
     display: flex;
     flex-direction: column;
     border: 1px solid grey;
     width: 100%;
 }

 .car-brands_list {
     overflow: hidden;
     box-sizing: border-box;
 }

 .content_make {
     padding: 10px 15px 22px;

 }

 .content-make__image {
     font-size: 14px;
     line-height: 24px;
     float: left;
     padding-right: 2%;
     width: 150px;
     height: auto;
     border: 1px solid grey;
 }

 .content_make__txtblock {
     float: inline-start;
     padding-right: 5%;
     border: 1px solid grey;
 }

 .content_make__pull-left {
     float: left;
     font-size: 10px;
 }

 .content_make__pull-left_specs {
     float: left;
 }

 .content_make__model-specs {
     text-align: left;
     margin: 0;
     padding: 0;
     white-space: nowrap;
 }

 .block_cars {
     display: grid;
     grid-template-columns: auto auto;
     grid-template-rows: 30px auto;
     border-color: 1px grey;
     gap: 10px 10px;
     grid-auto-flow: row;
     grid-template-areas:
         "Image Title"
         "Image Description";
 }

 .block_cars__image {
     grid-area: Image;
 }

 .block_cars__title {
     grid-area: Title;
 }

 .block_cars__description {
     grid-area: Description;
 }

 /*utils */
 .off {
     display: none;
 }


 @media (min-width: 680px) and (max-width: 940px) {
     .login, .register, .home, .profile {
         grid-template-areas: 'box-1';
         grid-auto-rows: minmax(200px);
         grid-template-columns: 500px;
     }
 }

 @media (min-width: 940px) {
     .login, .register, .home, .profile {
         grid-template-areas: 'box-1';
         grid-auto-rows: minmax(200px);
         grid-template-columns: 700px;
     }
 }