 * {
     font-family: sans-serif;
     margin: 0;
 }


 h1 {
     font-family: sans-serif;
     font-weight: 4 em;
     line-height: 1.2em;
     text-align: center;
     font-weight: 800;
     margin: 30px 0px 30px 0px;
     border: 3px solid black;
 }

 h2 {
     font-family: sans-serif;
     margin: 1em 1em 1em 1em;
     text-align: center;
     color: rgb(82, 81, 81);
     border: 3px solid black;
 }

 .subtitle_14 {
     font-family: sans-serif;
     margin: 1em 1em 1em 1em;
     text-align: center;
     color: rgb(82, 81, 81);
 }

 .login {
     /* display: flex; */
     border: 1px solix black;
     display: grid;
     grid-template-columns: auto;
     grid-auto-rows: minmax(10px, auto);
     grid-template-areas: 'box-1';
     border-color: white;
     border-width: 10px;
     justify-content: center;
     text-align: center;
     row-gap: 10px;
     column-gap: 10px;
 }

 .form-divider {
     top: 50%;
     content: '';
     display: inline-flexbox;
     left: 0;
     width: 100%;
     height: 2px;
     background: #d0d0d0;
 }

 .font-size-14 {
     text-align: left;
 }

 input[type=text], input[type=password] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
 }

 button {
     background-color: #04AA6D;
     background: linear-gradient(278deg, #61d8d6, #ae76ff);
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
     border-radius: 24px;
 }

 button:hover {
     opacity: 0.5;
 }

 .container {
     padding: 20px;
     border: 3px solid black;
 }



 .register {
     display: block;
     display: grid;
     border: 1px solird red;
     grid-template-columns: auto;
     grid-auto-rows: minmax(10px, auto);
     grid-template-areas: 'box-1';
     border-color: white;
     border-width: 10px;
     justify-content: center;
     text-align: none;
     row-gap: 10px;
     column-gap: 10px;
 }

 .home {
     display: none;
     border: 1px solird red;
 }

 @media (min-width: 680px) and (max-width: 940px) {
     .login, .register {
         grid-template-areas: 'box-1';
         grid-auto-rows: minmax(200px);
         grid-template-columns: 500px;
     }
 }

 @media (min-width: 940px) {
     .login, .register{
         grid-template-areas: 'box-1';
         grid-auto-rows: minmax(200px);
         grid-template-columns: 500px;
     }
 }