/* resets */

html,
body {
    height: 100%;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

/* settings */

:root {
    --background-color: #323A47;
    --color: white;
    --color-translucid:  rgba(255, 255, 255, .75);
    --font-color: black;
}

/* blocks */

/* generics */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container--row {
    flex-direction: row;
}

.container--gap-m {
    gap: 10px;
}

.container--distributed {
    justify-content: space-between;
}

.font-s {
    font-size: .75rem
}

/***********
 *  custom *
 ***********/

.back-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* header */

.header {
    background-color: var(--color-translucid);
    padding-bottom: 1rem;
}

.header--full {
    min-height: 100%;
    padding-bottom: 0;
}

.header__sup {
    background-color: var(--background-color);
    opacity: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: .5rem;
}

.header__sub {
    padding-right: .5rem;
    padding-left: 2rem;
}

.nav {
    list-style-type: none;
    padding: 0% 2% 0%;
}

.nav__icon {
    height: 20px;
}

.nav__anchor {
    color: var(--color);
}

.contact-menu__phone-item {
    display: inline-block;
}

.title {
    color: transparent;
    font-size: 0;
    margin: 0;
}

.brand__logo {
    margin: 0;
    padding: 10px;
}

.brand__subtitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    margin: 0;
}

.menu-options {
    margin-top: 1rem;
}

.menu-options__list {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.menu-options__item {
    font-size: x-large;
    padding: 1rem;
    border-bottom: 1px solid var(--background-color);
}

.menu-options__anchor {
    text-decoration: none;
    color: var(--background-color);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu-options__subgroup{
    list-style: none;
}

.menu-options__subgroup-item{
    padding: .5rem;
}



/* main */

/* generics */

.off {
    display: none;
}