$desktop: 1024px
$tablet: 768px
$mobile: 600px

@mixin containerBoxesStyling($width $columnWidth $rowHeight)
    width: $width
    margin: 0 auto
    display: grid
    grid-template-columns: repeat(3, $columnWidth)
    grid-template-rows: repeat(6, $rowHeight)
    grid-template-areas: "box1 box2 box2" "box1 box3 box3" "box4 box4 box6" "box5 box5 box6" "box7 box8 box8" "box7 box9 box9"
    column-gap: .6rem
    row-gap: .6rem


@media screen and (max-width: $mobile)
    .container--box
        margin: 0 auto
        margin-bottom: .4rem
        width: 20rem
        height: 8.125rem
        border: 1px solid red

@media screen and (min-width: $mobile+1)
    .container--boxes
        @include containerBoxesStyling(80%, 14.063rem, 12.188rem)

@media screen and (min-width: $desktop)
    .container--boxes
        @include containerBoxesStyling(90%, 21.875rem, 18.75rem)      
  

.container--box__1
  grid-area: box1
  background-color: grey

.container--box__2
  grid-area: box2
  background-color: purple

.container--box__3
  grid-area: box3
  background-color: orange

.container--box__4
  grid-area: box4
  background-color: grey


.container--box__5
  grid-area: box5
  background-color: purple

.container--box__6
  grid-area: box6
  background-color: orange

.container--box__7
  grid-area: box7
  background-color: grey


.container--box__8
  grid-area: box8
  background-color: purple

.container--box__9
  grid-area: box9
  background-color: orange



