.button {
    height: 33px;
    margin: 8px;
    padding: 8px 24px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.button__cta {
    background-color: var(--color-cta);
    color: white;
}



.button > i {
    font-size: 15px;
    margin-right: 8px;
}