.snake-bit {
    width: 10px;
    height: 10px;
    background-color: yellowgreen;
    margin: 1px;
    position: absolute;
}

.food-bit {
    width: 10px;
    height: 10px;
    background-color: tomato;
    margin: 1px;
    position: absolute;
}