@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.logo {
    display:flex;
}

.logo__text {
    font-family: 'Righteous';
}

.logo__icon {
    width: 4rem;
    height: 4rem;
}

