*{
    background: dodgerblue;
}




.title {
    margin-top: 40px;
    color:rgb(23, 77, 131);
    font-family: 'Bangers' , cursive;
    text-align: center;
    cursor: pointer;
    transition: color 0.5s ease-in;
}

.title:hover{
    color: rgb(35, 117, 199);
    
}

.board {
    background-color: dodgerblue;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.board__cell {
    border: 2px solid rgb(17, 68, 119);
    width: 100px;
    height: 100px;
   
}