html, body {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.container--centered {
    justify-content: center;
}

.container--scroll {
    overflow: auto;
}

.container--bordered {
    border: 1px solid black;
}

.container--full {
    width: 100%;
    height: 100%;
}

.off {
    display: none;
}