body {
    margin: 0;
}

.snake-bit {
    background-color: yellowgreen;
    position: absolute;
    border: 1px solid white;
}

.food-bit {
    background-color: tomato;
    position: absolute;
}

.board {
    position: absolute;
    border: 3px solid black;
  }