<form action="/register" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="number" name="age" placeholder="age">
  <input type="email" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <button>Register</button>
</form>
